:root{
    --bg-color: #f1dcff;
    --link-color: #a0ffd1;
    --link-hover-color: #ff8789;
}

body{
    margin: 0;
    font-family: Georgia, Times, serif;
    background-color: var(--bg-color);
    min-width: 500px;
}

#welcome_section{
    margin: auto;
    width: 80%;
    height: 100vh;


}