@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Questrial&display=swap');
* {
    margin: 0;
}

body {
    background-color: #E5E3E8;
    color: #4B4950;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-height: 100px;
    display: block;
    background-color: #f9f7fc;
    z-index: 100;
    box-shadow: 0px 3px 5px #cccccc;
}

#header-contents {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 920px;
}

#nav-bar {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    margin-right: 20px;
}

#header-img {
    height: 40px;
}

.nav-link {
    font-family: 'Francois One', sans-serif;
    font-size: 18px;
    color: #4b4950;
    text-decoration: none;
    padding-left: 20px;
    white-space: nowrap;
}

.nav-link:hover {
    color: #b199e5;
}

main {
    margin: 100px auto;
    max-width: 920px;
}

.content-box {
    background-color: #FCFBFE;
    padding: 20px 40px 30px 40px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 3px 5px #cccccc;
}

h2 {
    font-family: 'Francois One', serif;
    font-size: 28px;
    margin-bottom: 15px;
}

#about-section p, #find-out-more-section p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-box {
    width: 220px;
    height: 200px;
    background-color: #E5E3E8;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0 10px 20px 10px;
    box-shadow: 0px 3px 5px #cccccc;
}

.product-box h3 {
    font-family: 'Francois One', serif;
    font-size: 22px;
    margin-bottom: 6px;
}

.product-box hr {
    margin: 10px 0;
}

.product-box p {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.product-box p.price {
    align-self: flex-end;
    font-weight: bolder;
    margin-top: auto;
}

#what-we-do-section iframe {
    margin: auto;
    display: block;
    width: 560px;
    height: 315px;
}

#form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 400px;
    margin: 20px auto;
}

#email {
    height: 50px;
    color: #BFBFBF;
    width: 100%;
}

#email, #submit {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Questrial', sans-serif;
    border: 1px solid #D6D1E0;
    border-radius: 5px;
    margin: 10px auto;
}

#email:focus, #email:valid, #email:active {
    color: #4b4950;
}

#submit {
    background-color: #B199E5;
    border: 1px solid #D6D1E0;
    height: 40px;
    width: 150px;
    color: #f9f7fc;
}

#submit:hover {
    background-color: #9F7DE8;
    cursor: pointer;
}

@media (max-width: 768px) {
    main {
        margin: 120px auto;
    }
    #what-we-do-section iframe {
        width: 392px;
        height: 220px;
    }
    .product-box {
        width: 250px;
    }
}