html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  margin: 0;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 5;
}

main > p{
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#img-caption{
  margin: 10px 0 0;
  font-weight: bold;  
}
#img-div{
  background: white;
  padding: 10px;
  margin: 0;
}

@media (max-width: 460px) {
  h1{
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

#main{
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eeeeee;
}

img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
