*{
    margin:0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 2500px;
}
.pagewrap{
    width: 100%;
    height: 45%;
   background-image: url(https://www.lexus.com.au/-/jssmedia/lexus/main-site/global/vehicles/sedan/is/facelift-2020/is-page-hero.jpg?h=1099&amp%3Bw=1920);
   background-position:top;
    background-repeat: no-repeat;
    margin: auto;
}
.title-h{
    font-family: Montserrat;
    color: black;
    font-size: 77px;
    font-weight: 500;
    text-align: center;
    margin:0 auto;
    padding-top: 14%;
}
#header{
    width:100%;
    height: 80px;
    display: block;
    background-color: #f7cfa9d8;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;  
    margin: 0 auto;
}
#inner-header{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;   
}

#header-img{
    padding-top: 10px;
    max-width: 100px;
    max-height: 100px;
}
#nav-bar{
    float:right;
    height: 100%;
}
.nav-link{
    height:100%;
    display: table;
    float: left;
    padding: 0px 25px;
    color:black;
    text-decoration: none;
    transition: color 0.3s linear;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
}
div a{
    margin-top: 13%;
}

.nav-link:hover {
    color:white;
}


#nav-bar li{
    height: 50%;
    display: table-cell;
    padding-top: 0;
    padding-bottom: 10px;
}
/* main part ------------*/
.container{
    margin: 0 auto 0;
    width:100%;
    height: 45%;
}
 /* features ------------*/
#features{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  padding: 10px;
}
#uno,
#dos,
#tres {
margin: 2% auto;
width:100%;
height: 65%;
font-family: Montserrat;
    color: black;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
#unos,
#doss,
#tress{
    width:35%;
    height: 100%;
    float:left;
}
  #unos img,
  #doss img,
  #tres img{
      border-radius: 10%;
  }
  .text{
      width:60%;
      height: 20%;
      margin-top: 10%;
      float: right;
  }
  
/* video ------------- */

#perfomance{
    margin:0 15% 0 ;
    width:70%;
    height: 30%;
    
}
 #video{
     border-radius: 2%;
     margin:0 auto;
 }
 

 /*endgame---------------------*/ 
#pricing{
    width:100%;
    height:17%;
}
 #boxc{
     width:85%;
     height: 100%;
     margin:10% auto 0;
     display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding: 10px;
}
#one,
#two, 
#three {
  width: 27%;
  height: 90%;
  background: rgb(250, 250, 250);
  border: 1px solid #000;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 300;
  color: black;
}
#oneo,
#twoo,
#threee {
    width:100%;
    height: 12%;
    background-color:#f7cfa9d8;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
  font-weight: 600;
}
#onefoot,
#twofoot,
#threefoot{
    width:100%;
    height: 12%;
    background-color:#f7cfa9d8;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
  font-weight: 600;
}
h3{
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 25px;
    text-align: center;
    color:black;
  font-weight: 600;
  font-family: Montserrat;
}
#one ol, 
#two ol,
#three ol{
    font-size: 20px;
    text-align: center;
    width: 100%;
    height:76% ;
    }
    #onefoot p,
    #twofoot p,
    #threefoot p{
        padding-top: 2%;
    }

/*last ------------*/

#last{
    width:40%;
     height: 10%;
     align-items: center;
     margin: 5% auto;
     font-family: Montserrat;
     color: black;
     font-size: 25px;
    text-align: center;

}
#form{
    width:60%;
    height: 40%;
    align-items: center;
    margin:7% auto ;

}
#email{
    width:100%;
    height: 30%;
    font-family: Montserrat;
    color :black;
    font-size: 19px;
    text-align: center;
    border-radius: 4%;
    border: 1px solid #000;

}
#submit{
    width:30%;
    height:30%;
    margin: 5% auto;
    font-family: Montserrat;
    color :black;
    font-size: 15px;
    text-align: center;
    background-color:#f7cfa9d8 ;
    border: 1px solid #000;
    border-radius: 4%;
}


/* media fix */
/* ipad pro*/
@media (max-width:1024px){
    body{
        height: 2200px;
    }
    .title-h{
        font-size: 60px;
        font-weight: 600;
    }
    .container{
        height: 27%;
        margin: 10% auto 0;
    }
    .pagewrap{
    background-size: cover;
    }
    #features{
        width: 80%;
        height: 72%;
    }
    #oneo,
    #twoo,
    #threee {
    font-size: 20px;
}
#onefoot,
#twofoot,
#threefoot{
    font-size: 18px;
}
h3{
    font-size: 19px;
}
#one ol, 
#two ol,
#three ol{
    font-size: 17px;
    }
}
/* ipad */
@media (max-width:768px){
    body{
        height: 2000px;
    }
    .title-h{
        padding-top: 25%;
        font-size: 50px;
        font-weight: 500;
    }
    .nav-link{
        padding: 0px 20px;
        font-size: 17px;
    }
    .container{
        height: 27%;
        margin: 5% auto 0;
    }
    .pagewrap{
    background-size: cover;
    }
    #uno,
     #dos,
     #tres {
    font-size: 17px;
}
    #features{
        width: 80%;
        height: 82%;
    }
    #perfomance{
        height: 20%;
        }

        #pricing{
            height:15%;
        }

    #oneo,
    #twoo,
    #threee {
    font-size: 18px;
}
#onefoot,
#twofoot,
#threefoot{
    font-size: 14px;
}
h3{
    font-size: 17px;
}
#one ol, 
#two ol,
#three ol{
    font-size: 14px;
    }
    #last{
         font-size: 19px;
    }
    #email{
        font-size: 10px;
    }
    #submit{
        font-size: 9px;
    }
}
/* iphone xxxxxxxx *//* iphone *//* iphone */
@media (max-width:375px){
    body{
        height: 1400px;
    }
    .title-h{
        padding-top: 35%;
        font-size: 30px;
        font-weight: 500;
    }
    #header{
        height: 50px;
    }
    #header-img{
        max-width: 50px;
        max-height: 50px;
    }
    .nav-link{
        padding: 5px 10px;
        font-size: 10px;
    }
    .container{
        height: 20%;
        margin: 5% auto 0;
    }
    .pagewrap{
    background-size: cover;
    }
    #uno,
     #dos,
     #tres {
    font-size: 12px;
}
    #features{
        width: 80%;
        height: 82%;
    }
    #perfomance{
        height: 10%;
        }

        #pricing{
            height:8%;
        }

    #oneo,
    #twoo,
    #threee {
    font-size: 8px;
}
#onefoot,
#twofoot,
#threefoot{
    font-size: 7px;
}
h3{
    font-size: 7px;
}
#one ol, 
#two ol,
#three ol{
    font-size: 6px;
    }
    #last{
         font-size: 10px;
    }
    #email{
        font-size: 6px;
    }
    #submit{
        font-size: 5px;
    }
}
/* iphone 66666 *//* iphone *//* iphone */
@media (max-width:414px){
    body{
        height: 1400px;
    }
    .title-h{
        padding-top: 35%;
        font-size: 30px;
        font-weight: 500;
    }
    #header{
        height: 50px;
    }
    #header-img{
        max-width: 50px;
        max-height: 50px;
    }
    .nav-link{
        padding: 5px 10px;
        font-size: 10px;
    }
    .container{
        height: 20%;
        margin: 5% auto 0;
    }
    .pagewrap{
    background-size: cover;
    }
    #uno,
     #dos,
     #tres {
    font-size: 12px;
}
    #features{
        width: 80%;
        height: 82%;
    }
    #perfomance{
        height: 10%;
        }

        #pricing{
            height:8%;
        }

    #oneo,
    #twoo,
    #threee {
    font-size: 8px;
}
#onefoot,
#twofoot,
#threefoot{
    font-size: 7px;
}
h3{
    font-size: 7px;
}
#one ol, 
#two ol,
#three ol{
    font-size: 6px;
    }
    #last{
         font-size: 10px;
    }
    #email{
        font-size: 6px;
    }
    #submit{
        font-size: 5px;
    }
}