/** {
  border: 1px solid black;
  box-sizing: border-box;
}*/

/*header*/

header{
  position: fixed;
  top: 0px;
  width: 100%;
  max-height: 100px;
  display: block;
  background-color: #f9f7fc;
  z-index: 100;
  box-shadow: 0px 3px 5px #cccccc;
}

#header-content{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  max-width: 1200px;
}

#header-img{
  height: 40px;
}

#nav-bar{
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-link{
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #4b4950;
  text-decoration: none;
  padding-left: 20px;
  white-space: nowrap;
}

.nav-link:hover{
  color: #b199e5;
}

/*page*/

main{
  margin: 30px auto;
  max-width: 920px;
}

#main > div:first-of-type{
  margin-top: 60px;
}

.content-box{
  background-color: #fcfbfe;
  padding: 1px 40px 10px 40px;
  border-radius: 10px;
  margin: 10px 5px;
  box-shadow: 0px 3px 5px #cccccc;
}

main > div > h2{
  font-family: Verdana, sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

main > div > p{
  font-family: Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
}

.plugs-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

figure{
  border: 10px solid #dadcdb;
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: center;
}

.plugs{
  max-width: 110px;
  height: 90px;
  padding: 0;
}

#video-section{
  padding-bottom: 70px;
}

#video{
  display: block;
  margin: auto;
  width: 560px;
  height: 315px;
}

#form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 400px;
  margin: 20px auto 2px;
}

#email{
  height: 40px;
  color: #bfbfbf;
  width: 100%;
}

#email:focus, #email:valid, #email:active {
  color: #4b4950;
}

#email, #submit{
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Questrial', sans-serif;
  border: 1px solid #d6d1e0;
  border-radius: 5px;
  margin: 10px auto;
}

#submit{
  background-color: #b199e5;
  border: 1px solid #d6d1e0;
  height: 40px;
  width: 150px;
  color: #f9f7fc;
}

#submit:hover{
  background-color: #9F7DE8;
  cursor: pointer;
}

@media (max-width: 840px){
  main{
    margin: 120px auto;
  }

  #video{
    width: 392px;
    height: 220px;
  }
}